.timeline {
    padding-left: 0;
    list-style-type: none;

    .list-group-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 1.1em;
    }
}

.timeline .bg-warning {
    background-color: #ffc107 !important;
}

.timeline .bg-success {
    background-color: #28a745 !important;
}

.timeline .bg-info {
    background-color: #17a2b8 !important;
}

.timeline .btn-primary {
    margin-top: 5px;
}
