{% extends 'base.html.twig' %}

{% block title %}Calendrier des entretiens et tests{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Calendrier des entretiens et tests</h1>
        <div id="calendar"></div>
    </div>

    <script>
        document.addEventListener('turbo:load', function() {
            var calendarEl = document.getElementById('calendar');
            console.log(calendarEl)
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'listYear',
                locale: 'fr',
                events: '/calendar/events', 
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                }
            });
            calendar.render();
        });
    </script>
{% endblock %}
